@font-face {
	font-family: 'PP Agrandir';
	src: url('PPAgrandir-TextBold.otf') format('truetype');
 }

 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


:root{
    --body-copy:2.5vh;

    --main-heading: calc(var(--body-copy) * 3.75);
    --sub-heading: calc(var(--body-copy) * 1.5);
    --smaller-sub-heading: calc(var(--body-copy) * 1.02);
    --line-height: calc(var(--body-copy)*1.5);
    --circle-size: 45vh;
}

@media (min-width: 768px) {
    :root{
        --body-copy:2.5vh;

        --main-heading: calc(var(--body-copy) * 5.3);
        --sub-heading: calc(var(--body-copy) * 2.3);
    }
}

@media print{

        @page{
            margin: 70px;
        }
    
        :root{
            --body-copy:12pt;
            --page-spacing: 0.25in;
    
            --main-heading: calc(var(--body-copy) * 5);
            --sub-heading: calc(var(--body-copy) * 3);
    
            --brand-color: white;
        }
    }

body{
    background-color: white;
    font-family: 'Libre Baskerville', serif;;
    font-size: var(--body-copy);
    line-height: var(--line-height);
    /* width: 500px; */
    /* height: 100vh; */
}

header{
    margin-top: 60px;
    /* margin-left: 20px; */
}


h1{
    font-size: var(--main-heading);
    line-height: calc(var(--line-height)*2.75);
    font-family: 'PP Agrandir';
    margin-left: auto;
}

h2{
    font-size: var(--sub-heading);
    line-height: calc(var(--line-height)*1.5);
    margin-top: 20px;
    font-style: italic;
}

h3{
    font-size: var(--smaller-sub-heading);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 20px;
}

.print-quote{
    display: none;
}

p{
    max-width: 55ch;
    line-height: var(--line-height);
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    /* hyphens: manual;
    word-break: break-all; */
}

em{
    font-style: italic;
}

a{
    text-decoration: underline;
    color: rgb(115, 115, 115);
}

a:hover{
    color: #00ffe1;
}


.scroll {
    display:inline;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* margin: 5vw */
}

main{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    /* gap: 10vw; */
    position:relative;
    /* top:-60px; */
}

.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.circle-title{
    background-color: #ffe600b8;
    position: fixed;
    /* top: calc(50%-(var(--circle-size)/2)); */
    top:10vh;
    left: 35px;

    animation-duration: 2.5s;
    animation-name: slide;
    animation-iteration-count: 1;
    animation-direction:normal;
}

@keyframes slide {
from {
top: -60vh;
background-color: red;
}
to{
top: 10vh;
background-color: #ffe600b8;
}
}


.circle-1{
    width: calc(var(--circle-size)/3);
    height: calc(var(--circle-size)/3);
    background-color: #ff0000d4;
    mix-blend-mode: difference;
    margin-top: -30vh;
    margin-bottom: 130px;
}

.circle-2{
    width: calc(var(--circle-size)/3);
    height: calc(var(--circle-size)/3);
    background-color: #f39b00;
    mix-blend-mode: hard-light;
    position: relative;
    left: 250px;
    top: -85px;
    margin-bottom: -90px;
}

.circle-3{
    width: calc(var(--circle-size)/3);
    height: calc(var(--circle-size)/3);
    background-color: #3b00f3;
    mix-blend-mode: hue;
    position: relative;
    left: 55px;
    top: -156px;
    margin-bottom: -90px;
}

.circle-4{
    width: calc(var(--circle-size)/2);
    height: calc(var(--circle-size)/2);
    background-color: #00f324d4;
    mix-blend-mode: multiply;
    position: relative;
    left: 222px;
    top: -313px;
    margin-bottom: -90px;
}

.circle-5{
    width: calc(var(--circle-size)/2);
    height: calc(var(--circle-size)/2);
    background-color: #00f324d4;
    mix-blend-mode: multiply;
    position: relative;
    left: 222px;
    top: -139px;
    margin-bottom: -144px;
}

.circle-6{
    width: calc(var(--circle-size)/4);
    height: calc(var(--circle-size)/4);
    background-color: #88c5b5;
    mix-blend-mode: multiply;
    position: relative;
    left: 14px;
    top: 99px;
    margin-bottom: -73px;
}

.circle-7{
    width: calc(var(--circle-size)/1.25);
    height: calc(var(--circle-size)/1.25);
    background-color: #001fff;
    mix-blend-mode: color-dodge;
    position: relative;
    left: 141px;
    top: -366px;
    margin-bottom: -194px;
}

.circle-8{
    width: calc(var(--circle-size)/1.5);
    height: calc(var(--circle-size)/1.5);
    background-color: #90ff00;
    mix-blend-mode: difference;
    position: relative;
    left: 183px;
    top: 55px;
    margin-bottom: -185px;
}

.circle-9{
    width: calc(var(--circle-size)/1.5);
    height: calc(var(--circle-size)/1.5);
    background-color: #3f7cac;
    mix-blend-mode: hue;
    position: relative;
    left: 50px;
    top: 55px;
    margin-bottom: -185px;
}

.circle-10{
    width: calc(var(--circle-size)/1.5);
    height: calc(var(--circle-size)/1.5);
    background-color: #00ffde;
    mix-blend-mode: multiply;
    position: relative;
    left: 161px;
    top: 113px;
    margin-bottom: -185px;
}

.circle-11{
    width: calc(var(--circle-size)/2);
    height: calc(var(--circle-size)/2);
    background-color: #b700ffad;
    mix-blend-mode: hard-light;
    position: relative;
    left: 100px;
    top: 113px;
    margin-bottom: -136px;
}

.circle-12{
    width: calc(var(--circle-size)/1);
    height: calc(var(--circle-size)/1);
    background-color: #ff0000ad;
    mix-blend-mode: exclusion;
    position: relative;
    left: 35px;
    top: 210px;
    margin-bottom: -280px;
}


.circle-quote{
    background-color: #ff00e473;
    position: relative;
    left: 14px;
    padding: 40px;
    padding-top: 85px;
    /* margin-top: 21vh; */
    margin-bottom: 20px;
    font-size: calc(var(--body-copy)*1.4);
    line-height: calc(var(--body-copy)*2.4);
}


blockquote{
    margin-left: -8vh;
    margin-top: -4vh;
    width: 54vh;
    margin-bottom: 7vh;
    font-style: italic;
    }

#author{
    font-size: calc(var(--body-copy)*0.8);
    font-style: normal;
}
   
#dress-quote{
    margin-top: 2vh;
}

.red{
    background-color: rgb(255 0 94);;
    mix-blend-mode: hard-light;
    /* text-align: center; */
}

.blue{
    background-color: rgb(0 195 255 / 94%);;
}


.card{
    flex: 0 0 auto;
    margin-left: 3.5vh;
    margin-right: 3vh;
}

.title{
    /* padding: 30px; */
    margin-top:10vh;
    margin-left: 3.5vh;
}

.ending{
    padding-bottom: 6vh;
}



@media (min-width: 768px) {

    body{ 
        position: fixed;
        width: 100%;
    }

    .scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        /* margin-right: 5vw; */
    }
        main{
        display: flex;
        flex-direction: row;
        /* margin: 80px; */
        margin-top: 13vh;
        gap: 8vh;
        position:relative;
        /* top:-60px; */
    }

    h1{
        font-size: calc(var(--main-heading)*1.25);
        line-height: calc(var(--line-height)*5.2);
        font-family: 'PP Agrandir';
        margin-left: auto;
    }
    
    h2{
        font-size: var(--sub-heading);
        line-height: calc(var(--line-height)*1.5);
        margin-top: 3.5vh;
        font-style: italic;
    }
    
    h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*1.25);
        margin-top: 5vh;
    }

    p{
        max-width: 50ch;
    }

    .print-quote{
        display: none;
    }

    .card{
        flex: 0 0 auto;
        /* margin-left: 20px;
        margin-right: 20px; */
        /* height: 70vh;
        position: relative; */
        /* top:calc(50%-35vh);
        background-color: aquamarine; */
    }

    #dress-quote{
        margin-top: 20vh;
        max-width: 25ch;
    }
    .circle{
        width: calc(var(--circle-size)*2);
        height: calc(var(--circle-size)*2);
        border-radius: 50%;
        mix-blend-mode: multiply;
    }
    
    .circle-title{
        background-color: #FFE600;
        position: fixed;
        top: 6vh;
        padding-bottom:7vh;
        left: 35px;

        animation-duration: 2.5s;
        animation-name: slide;
        animation-iteration-count: 1;
        animation-direction:normal;
    }


    .circle-1{
        display: none;
    }
    
    .circle-2{
        display: none;
    }
    
    .circle-3{
        display: none;
    }
    
    .circle-4{
        display: none;
    }
    
    .circle-5{
        display: none;
    }
    
    .circle-6{
        display: none;
    }
    
    .circle-7{
        display: none;
    }
    
    .circle-8{
        display: none;
    }
    
    .circle-9{
        display: none;
    }
    
    .circle-10{
        display: none;
    }
    
    .circle-11{
        display: none;
    }
    
    .circle-12{
        display: none;
    }

    @keyframes slide {
        from {
        left: -700px;
        background-color: red;
        }
        to{
        left: 35px;
        background-color: #FFE600;
        }
        }

    .circle-quote{
        font-size: calc(var(--body-copy)*1.75);
        line-height: calc(var(--line-height)*2);
        /* padding-top: 150px;
        padding-left: 200px; */
        margin-top: -7vh;
        margin-right: 300px;
        margin-bottom: 7vh;
        font-style: italic;
    }

    blockquote{
        margin-top: 15vh;
        margin-left: 30vh;
        width: 85vh;
        margin-bottom: 7vh;
        font-style: italic;
    }

    .title{
        margin-right: 15vh;
        height:100vh;
    }

    .ending{
        padding-right: 10vh;
    }

    .red{
        text-align: left;
    }

    #author{
        font-size: calc(var(--body-copy)*1.3);
        font-style: normal;
    }
    
}

@media print{

    .circle{
        display: none;
    }

 
    .circle-title{
        display: block;
        width: 300px;
        height: 300px;
        top: 0px;
        left: 10px;
    }

    h1{
        font-size: 55pt;
        line-height: 60pt;
        margin-left: -10px;
        margin-top: -20px;
    }

    h2{
        font-size: 20pt;
        line-height: 40pt;
        margin-left: 0px;
    }

    h3{
        margin-top: 0px;
        margin-left: 0px;
    }

    .print-quote{
        display: block;
        font-size: 15pt;
        line-height: 22pt;
        max-width: 55ch;
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: -8px;
    }

    p{
        font-size: 12pt;
        max-width: 55ch;
        margin-top: 30px;
    }

    a{
        color: black;
        text-decoration: none;
    }

    .print-margin{
        margin-top: 30px;
    }

    #dress-quote{
        margin-top: 30px;
    }

    /* .ending{
        margin-top: 40px;
    } */
    }

