@font-face {
	font-family: 'PP Agrandir';
	src: url('PPAgrandir-TextBold.otf') format('truetype');
 }

 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


:root{
    --body-copy:18px;

    --main-heading: calc(var(--body-copy) * 3.75);
    --sub-heading: calc(var(--body-copy) * 1.5);
    --smaller-sub-heading: calc(var(--body-copy) * 1.02);
    --line-height: calc(var(--body-copy)*1.5);
    --circle-size: 300px;
}

@media (min-width: 1280px) {
    :root{
        --body-copy:20px;

        --main-heading: calc(var(--body-copy) * 6);
        --sub-heading: calc(var(--body-copy) * 3);
    }
}


body{
    background-color: white;
    font-family: 'Libre Baskerville', serif;;
    font-size: var(--body-copy);
    line-height: var(--line-height);
    height: 100vh;
}

header{
    margin-top: 60px;
    /* margin-left: 20px; */
}


h1{
    font-size: var(--main-heading);
    line-height: calc(var(--line-height)*2.75);
    font-family: 'PP Agrandir';
    margin-left: auto;
}

h2{
    font-size: var(--sub-heading);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 20px;
    font-style: italic;
}

h3{
    font-size: var(--smaller-sub-heading);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 20px;
}

p{
    max-width: 50ch;
    line-height: var(--line-height);
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    /* hyphens: manual;
    word-break: break-all; */
}

.scroll {
    display:inline;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* margin: 5vw */
}

main{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    /* gap: 10vw; */
    position:relative;
    /* top:-60px; */
}

.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.circle-title{
    background-color: #FFE600;
    position: fixed;
    top: 60px;
    left: 35px;
}

.circle-1{
    width: calc(var(--circle-size)/2);
    height: calc(var(--circle-size)/2);
    background-color: #0088ff;
    position: relative;
}

.circle-quote{
    background-color: greenyellow;
    position: relative;
    left: 14px;
    font-size: calc(var(--body-copy)/1.12);
    padding: 40px;
    padding-top: 85px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: italic;
}

.red{
    background-color: rgba(255, 0, 0, 0.734);
    text-align: center;
}

@media (min-width: 1280px) {
    .scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        /* margin: 5vw */
    }
        main{
        display: flex;
        flex-direction: row;
        margin: 80px;
        /* gap: 10vw; */
        position:relative;
        top:-60px;
    }
}


.card{
    flex: 0 0 auto;
    /* width: 85vw; */
    /* padding-right:1vw; */
    /* height: 100vh; */
    margin-left: 20px;
    margin-right: 20px;
    /* margin-right: 20px; */
    /* margin-left: 6px;
    margin-right: 6px; */
    /* padding-bottom: 95%; */
    /* padding-top: 50px; */
}

.title{
    padding: 30px;
    height:auto
}